{% extends 'base.html' %}
{% block content %}
    <h2>Login</h2>
    <hr>
    {% if user.is_authenticated %}
        <h2>{{ user.username }} 안녕?</h2>
{#        <a href="{% url 'signout' %}">Logout</a>#}
    {% else %}
        <form action="" method="post" class="">
            {% csrf_token %}
            <input type="text" name="username" class="form-control">
            <input type="password" name="password" class="form-control">
            <button class="btn-primary btn-block" type="submit">Login</button>
        </form>
    {% endif %}
{% endblock %}