{% extends 'base.html' %}
{% block content %}
    <a href="{% url 'post_list' %}">
        목록으로 돌아가기
    </a>
    <div>
        <img src="{{ post.photo.url }}">
        {% for comment in post.comment_set.all %}
            <div>
                <p><strong>{{ comment.content }}</strong> | {{ comment.created_at }}</p>
            </div>
        {% empty %}
            <p>아직 댓글이 없습니다</p>
        {% endfor %}
    <div><a href="{% url 'post_comment' pk=post.pk %}">댓글 달기</a></div>
    </div>
{% endblock %}