{% extends 'base.html' %}
{% block content %}
    <a href="{% url 'post_list' %}">
        목록으로 돌아가기
    </a>
    <div>
        <img src="{{ post.photo.url }}">
        {% for comment in post.comment_set.all %}
            <div>
                <p><strong>{{ comment.content }}</strong> | {{ comment.created_at }}</p>
            </div>
        {% empty %}
            <p>아직 댓글이 없습니다</p>
        {% endfor %}
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="entry_id">
                <input type="text" name="comment" style="height: 30px; margin-bottom: 30px; font-size: 18px;" size="48"
                       placeholder="댓글 달기...">
                <input type="submit" value="게시">
            </form>
        </div>
        <div>
            <form action="{% url 'post_delete' pk=post.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="지우기">
            </form>
        </div>
    </div>
{% endblock %}