<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram</title>
</head>
<body>
<div>
    {% for post in posts %}
        <div><img src="{{ post.photo.url }}"></div>
        <div>{{ post.comment }}</div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="entry_id">
                <input type="text" name="comment" size="72" placeholder="댓글 달기...">
                <input type="submit" value="게시">
            </form>
        </div>
    {% endfor %}
</div>
</body>
</html>