{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
<div class="container">
    <h1><a href="{% url 'post_list' %}">Instagram</a></h1>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="#"><span class="glyphicon glyphicon-apple"></span> {{ user.username }} 님
                환영합니다</a>
            </li>
            <li><a href="{% url 'signout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'signup' %}">Signup</a></li>
            <li><a href="{% url 'signin' %}"> <span class="glyphicon glyphicon-user"></span> Login</a></li>
        {% endif %}
    </ul>
    <hr>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>