.blog-header {
    background-color: #3c3c3c;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.blog-header .blog-title {
    margin: 0;
}
.blog-header .blog-title > a,
.blog-header .blog-title > a:hover,
.blog-header .blog-title > a:visited {
    color: white;
    text-decoration: none;
}

.btn-post-add {
    color: #ffffff;
    float: right;
    font-size: 25px;
}

.btn-post-created {
    color: #ffffff;
    float: right;
    font-size: 25px;
    padding-right: 25px;
}

.btn-post-delete {
    float: right;
    color: #c7254e;
}

.post-container {

}
.post-container > .btn-back-list {
    margin-top: 10px;
}

.post-container > .post {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}
.post-container > .post > p {
    margin: 0;
}
.post-container > .post > p.right-text {
    text-align: right;
    font-size: 10px;
    color: #666;
}
.post-container > .post > p.right-text > strong {
    width: 50px;
    display: inline-block;
    text-align: left;
}